## .NET
bin/
obj/
publish-light/
publish-full/

## IDE
.vs/
*.user
*.suo
*.userprefs

## Build outputs
*.dll
*.exe
*.pdb

## NuGet
packages/

## OS files
Thumbs.db
.DS_Store

## Crash logs
crash.log

## Project internal (not for remote)
docs/
tools/
build.ps1
test.ps1
